.container-message {
  width: 100%;
  background-color: white;
  margin: 1.5rem;
  border: 1px solid  #bdc3c7;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1em;
  text-align: left;
  box-shadow: -1px 1px 1px  #bdc3c7;
}
